

/*
AJS.tablessortable.setTableSortable() puts DIVS in the <th>'s!
This makes them not take up two lines of vertical space:
 */
#repositories-table thead th div { display: inline; }

div.tipsy div.tipsy-inner { white-space: pre-wrap; text-align: left; max-width: 800px; }

#repositories-table .repodesc_commit { color: #707070; }

